:root {
  --resume-box-height: 25%;
  --resume-box-width: 35%;
}
* {
  box-sizing: border-box;
}

.body {
  margin:0;
  display:flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.container {
  display:flex;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: space-evenly;
}

.input-form {
  height:100vh;
  width: 40vw;
  background-color:white;
}

.first-letter {
  font-size: 30px;
}

.user-input-form {
  min-width: 500px;
  min-height: 700px;
}

.user-input-form div{
  margin: 5px;
}

.resume {
  background-color: pink;
  height: 297mm;
  width: 210mm;
  zoom: 70%;
  position: sticky;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgb(65, 65, 65), 0 6px 20px 0 rgba(51, 51, 51, 0.911);
}

.left-column {
  width: var(--resume-box-width);
  
  background-color:aqua;
}

.right-column {
  width: calc(100% - var(--resume-box-width));
  
  background-color: red;
}

.resume-personal-info {
  height: var(--resume-box-height);
  background-color: rgb(255, 238, 192);
  display: flex;
}

.resume-academic-info {
  height: calc(100% - var(--resume-box-height));
  background-color: rgb(253, 246, 215);
}

.resume-summary {
  height: var(--resume-box-height);
  background-color: rgb(253, 215, 222);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-grow: 0;
  white-space: pre-wrap;
}

.resume-skills {
  height: calc(100% - var(--resume-box-height));
  background-color: white;
}