@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

:root {
  --resume-box-height: 28%;
  --resume-box-width: 37%;
}
* {
  box-sizing: border-box;
}

.body {
  margin:0;
  display:flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.container {
  display:flex;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: space-evenly;
}

.input-form {
  height:100vh;
  width: 40vw;
  background-color:white;
}

.first-letter {
  font-size: 41px;
}

.resume-name {
  font-size: 36px;
  letter-spacing: 3px;
  font-weight: 500;
}

.user-input-form {
  min-width: 500px;
  min-height: 700px;
}

.user-input-form div{
  margin: 5px;
}

.resume {
  font-family: 'Roboto', sans-serif;
  background-color: pink;
  height: 297mm;
  width: 210mm;
  zoom: 100%;
  position: sticky;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgb(65, 65, 65), 0 6px 20px 0 rgba(51, 51, 51, 0.911);
}

.left-column {
  width: var(--resume-box-width);
  
  background-color:white;
}

.right-column {
  width: calc(100% - var(--resume-box-width));
  
  background-color: white;
}

.resume-personal-info {
  height: var(--resume-box-height);
  background-color: rgb(253, 238, 215);
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  padding: 35px;
  gap: 20px;
}

.resume-academic-info {
  height: calc(100% - var(--resume-box-height));
  background-color: rgb(253, 246, 215);
  display:flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
}

.resume-academic-info ul{
  list-style-position: outside;
  padding-left: 20px;
}

.resume-academic-info li {
  margin-bottom: 10px;
}


.resume-details {
  font-weight: 300;
  margin-top: 5px;
}

.resume-education-list div {
  margin-bottom: 3px;
}

.resume-education-list .degree {
  font-size: 17px;
  font-weight: 500;
}

.resume-education-list .institution {
  font-style: italic;
}

.resume-education-list .date {
  font-weight: 200;  
  margin-bottom: 20px;
}

.resume-details, svg {
  margin-right: 12px;
  margin-top: 5px;
}

.resume-summary-content {

  flex-grow: 0;
  font-weight: 300;
  white-space: pre-wrap;
  word-spacing: 2px;
}

.resume-skills ul {
  list-style: none;
  padding-left: 3px;
  list-style-position: outside;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 25px;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

.resume-skills li {
  background-color: rgb(228, 137, 0);
  border-radius: 4px;
  padding: 5px 8px;
}

.resume-summary {
  height: var(--resume-box-height);
  background-color: rgb(253, 246, 215);
  padding: 10px 45px 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.resume-heading {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 25px;
}

.resume-heading svg{
  margin-left: 10px;
}

.resume-experience-skills {
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  height: calc(100% - var(--resume-box-height));
  background-color: white;
}

.soft-divider-short{
  content: '';
  width: calc(var(--resume-box-width)*0.80);
  height: 1px;
  background: rgb(190, 190, 190);
  position: absolute;
  margin: 5px 0px 10px 0px;
}

.soft-divider-long {
  content: '';
  width: calc((100%-var(--resume-box-width))*0.95);
  height: 1px;
  background: rgb(190, 190, 190);
  margin: 5px 0px 16px 0px;
}

