@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

:root {
  --resume-box-height: 28%;
  --resume-box-width: 37%;
}
* {
  box-sizing: border-box;
}

.body {
  margin:0;
  display:flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  word-break: break-word;
}

header, footer {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 31px;
  color: white;
  background-color:rgba(51, 51, 51, 0.911);
  padding: 20px;
}

header {
  margin-bottom: 20px
}

header span {
  font-size: 26px;
}

footer {
  font-size: 18px;
  margin-top: 20px
}

footer .fa-github {
  color: white;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
  margin-right: 15px;
}

footer .fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

.user-input-form {
  border: 8px solid rgb(43, 43, 43);
  border-radius: 20px;
  margin-bottom: 10px;
  min-width: 600px;
  max-width: 700px;
  display: block;
}

.form-divider {
  content: '';
  width: 100%;
  height: 8px;
  background: rgb(0, 0, 0);
  margin: 15px 0px;
}

.user-input-form form, .form-heading{
  margin: 10px;
}

.form-heading{
  font-size: 26px;
  font-weight: 500;
}
.user-input-form button {
  margin: 10px 10px 25px 10px;
  width: 90%;
  font-size: 16px;
  text-align: center;
  height: 45px;
  line-height: 45px;
}

textarea {
  max-width: 100%;
}

.input-line input {
  width: 75%;
  font-size: 15px;
  margin-top: 1.5rem;
  border: none;
  border-bottom: 2px solid black;
}

.input-line input:focus {
  outline: none;
  border-color: rgb(80, 23, 19);
}

.input-line label {
  color:rgb(102, 102, 102);
  display: block;
  transform: translate(0.25rem, -1.5rem);
  transition: all 0.3s ease-in-out;
}

.input-line input:focus + label,
.input-line input:not(:placeholder-shown) + label {
  color: rgb(0, 0, 0);
  transform: translate(0, -2.75rem);
}

.container {
  display:flex;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: space-evenly;
}

.center-element {
  text-align: center;
}

.input-form {
  height:100vh;
  width: 40vw;
  background-color:white;
}

.first-letter {
  font-size: 41px;
}

.resume-name {
  font-size: 36px;
  letter-spacing: 3px;
  font-weight: 500;
}

.resume {
  font-family: 'Roboto', sans-serif;
  height: 297mm;
  width: 210mm;
  zoom: 100%;
  position: sticky;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgb(65, 65, 65), 0 6px 20px 0 rgba(51, 51, 51, 0.911);
}

.left-column {
  width: var(--resume-box-width);
  
  background-color:white;
}

.right-column {
  width: calc(100% - var(--resume-box-width));
  
  background-color: white;
}

.resume-personal-info {
  height: var(--resume-box-height);
  background-color: rgb(253, 238, 215);
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  padding: 35px;
  gap: 20px;
}

.resume-academic-info {
  height: calc(100% - var(--resume-box-height));
  background-color: rgb(253, 246, 215);
  display:flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
}

.resume-summary {
  height: var(--resume-box-height);
  background-color: rgb(253, 246, 215);
  padding: 10px 45px 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.resume-skills li {
  background-color: rgb(228, 137, 0);
  border-radius: 4px;
  padding: 5px 8px;
}

.resume-academic-info ul{
  list-style-position: outside;
  padding-left: 20px;
}

.resume-academic-info li {
  margin-bottom: 10px;
}


.resume-details {
  font-weight: 300;
  margin-top: 5px;
}

.resume-education-list div {
  margin-bottom: 3px;
}

.resume-education-list .degree {
  font-size: 17px;
  font-weight: 500;
}

.resume-education-list .institution {
  font-style: italic;
}

.resume-education-list .date {
  font-weight: 200;  
  margin-bottom: 20px;
}

.resume-details svg {
  margin-right: 12px;
  margin-top: 5px;
}

.resume-details a {
  color: black;
}

.resume-summary-content {

  flex-grow: 0;
  font-weight: 300;
  white-space: pre-wrap;
  word-spacing: 2px;
}

.resume-skills ul {
  list-style: none;
  padding-left: 3px;
  list-style-position: outside;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 25px;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

.resume-heading {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 25px;
}

.resume-heading svg{
  margin-left: 10px;
}

.resume-experience-skills {
  display: flex;
  flex-direction: column;
  padding: 25px;
  height: calc(100% - var(--resume-box-height));
  background-color: white;
}

.soft-divider-short{
  content: '';
  width: calc(var(--resume-box-width)*0.80);
  height: 1px;
  background: rgb(190, 190, 190);
  position: absolute;
  margin: 5px 0px 10px 0px;
}

.soft-divider-long {
  content: '';
  width: calc((100%- var(--resume-box-width))*0.9);
  height: 1px;
  background: rgb(190, 190, 190);
  margin: 5px 0px 16px 0px;
}

.resume-work-list div {
  margin-bottom: 3px;
}

.resume-work-list .jobTitle {
  font-size: 18px;
  font-weight: 500;
}

.resume-work-list .company {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
}

.resume-work-list .date {
  font-weight: 200;  
}

.resume-work-list .des {
  font-weight: 300;
  word-spacing: 3px;
  margin-bottom: 40px;
}

.theme-button-box { 
  display: flex;
}